<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/goals">Our Goals</a></li>
<li><a href="/arcgis">ArcGis</a></li>
<li><a href="/leaflet">Leaflet</a></li>
<li><a href="/kepler">Leaflet</a></li>
<li><a href="/results">results</a></li>
<li><a href="/aboutus">About Us</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="https://github.com/mlavance/GEOG583FinalProject">Project github</a></li>
   </ul>
  </footer>
  </body>

</html>
